@import "tailwindcss";

:root {
  color-scheme: light only;
  --background: #f8f9fa;
  --foreground: #121212;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html, body {
  color-scheme: light only !important;
  background-color: #f8f9fa !important;
  color: #121212 !important;
  -webkit-text-size-adjust: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* Animación Marquee Infinita de Izquierda a Derecha */
@keyframes marqueeScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marqueeScroll 24s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}